<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="utf-8">

<title>DeftDraft</title>

<script src="/js/dd/mousetrap.min.js"></script>
<!-- include jQuery library -->
<script type="text/javascript" src="/js/dd/jquery.min.js"></script>
<script src="/js/dd/jquery.autosize.js"></script>
<link rel="stylesheet" href="/css/dd/dd-style.css">

<script>
    $(function(){
        $('#deft').autosize({callback:
            function() {
                $('html, body').animate({ scrollTop: $(document).height()-$(window).height()}, 400, "swing");
            }
        });
    });
</script>

</head>
<body>
    <div id="container">
        <h2>DD - <span id="buffers">Draft: <b>1</b>/1 - Commit: 0</span></h2>
        <form action="/draft" method="post">
            <input type="hidden" id="diffs" name="diffs" value="{{diffs}}"/>
            <input type="hidden" id="branch" name="branch" value="{{branch}}"/>
            <textarea class="textarea mousetrap" id="deft" name="deft" placeholder="Once upon a time in a land far, far away...">{{text}}</textarea>
            <div id="sidebar">
                <input type="text" id="title" name="title" placeholder="The Story without a Title" value="{{title}}">
                <input type="submit" value="Submit draft!" />
                <p>Welcome. <em>DD</em> has two unique concepts you need to know about: drafts and commits.</p>
                <p>Type some text. Then <em>hit ctrl-space</em>. You used the <b>scratch</b> command which: saves the current draft, starts a new draft at the last commit.</p>
                <p>Type more text, then <b>scratch</b> again. Now <em>hit ctrl-h</em>. You are back to your second draft. Type some more text here, then <em>hit ctrl-h</em>. You are back to your first draft. <b>Cycle</b> in the other direction: <em>hit ctrl-l</em>.</p>
                <p>The second draft was saved when you cycled away. Cycling between drafts is a powerful way to try out different sentences and pick the best.</p>
                <p>Create some more drafts and practice cycling. Pick a favorite, then <em>hit ctrl-s</em>. This is your first <b>commit</b>. When you <b>commit</b> you are moving forward. Your previous drafts are cleared, and new drafts begin from the <b>commit</b>.</p>
                <p>Try scratching and cycling from your new point of progress.</p>
                <p>
                <em>ctrl-space</em>: <b>scratch</b></br>
                <em>ctrl-s</em>: <b>commit</b></br>
                <em>ctrl-h</em>: <b>cycle</b> left</br>
                <em>ctrl-l</em>: <b>cycle</b> right</br>
                </p>
            </div>
        </form>
    </div>
    <footer>
    <hr>
    Made with love in 2013.
    </footer>
</body>
<script src="/js/dd/caret.js"></script>
<script src="/js/dd/deftdraft.js"></script>
</html>
