<form action="/draft" method="post">
    <input type="hidden" name="_method" value="put" />
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
    </div>
    <div>
        <textarea rows="20" cols="32" id="content" name="content">Once upon a time, in a land far away...</textarea>
    </div>
    <div>
        <input type="submit" value="Submit draft!" />
    </div>
</form>
