{% if logged_in %}
Welcome {{ writer }}!

You can <a href="/draft/new">start a new draft</a>.

Or <a href="/draft">view your drafts</a>.

You can <a href="/logout">logout</a>.
{% else %}
    <p>
    Welcome to Prosedy, an open approach to writing on the internet.
    </p>

    <p>You can <a href="/login">login</a> or <a href="/signup">signup</a>.</p>
{% endif %}
