{% if logged_in %}
Welcome {{ writer }}!

You can <a href="/draft/new">start a new draft</a>.

Or <a href="/draft">view your drafts</a>.

You can <a href="/logout">logout</a>.
{% else %}
Welcome!

You can <a href="/login">login</a> or <a href="/signup">signup</a>.
{% endif %}
