<html>
    <head>
        <link rel="Stylesheet" type="text/css" href="/css/style.css" />
        <title>Prosedy: {{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div id="content">
            <header>
                <a href="/">Prosedy</a>
            </header>

            {{content}}

            <footer>
            <hr>
            Made with love in 2013.
            </footer>
        </div>
    </body>
</html>
