body {
    background-color: #fffff0;
}
#deft {
    float: left;
    font-size: 1.4em;
    margin-right: 30px;
    background-color: #ffffee;
    width: 30em;
    height: 30em;
    position: relative;
    margin-bottom: 6em;
}
#title {
    background-color: #eeeedd;
}
#buffers {
    text-align: right;
}
#container {
    margin: 0px auto;
    max-width: 60em;
}
#sidebar {
}
.highlight {
    background-color: #ffeeee;
}
